@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 3em;
}

header img {
  max-width: 96px;  

}

header h1 {
  font-size: 2.5em;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-item {
  padding: 0.25em 0;
}

footer {
  margin-top: 25em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}

@media screen and (min-width: 320px ) and (max-width: 767px ){
  header{
    margin-bottom: 20%;

  }
  header img {
    margin-bottom: 10%;
  }
  header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
  }
  footer{
    margin-top: 16em;
  }
}